.edit{
  @include outer-container();
  margin:0 2rem;
  .noon{
    border-top:1px solid $dark-gray;
    border-bottom:1px solid $dark-gray;
  }
  .morning, .noon, .night{
    background-color: #dfa;
    height: 33.3%;
  }
  h2{
    margin-bottom: 2rem;
  }
  .unavailable{
    background-color: lighten($blue, 30);
  }
  .calCell{
    @include user-select(none);
    float: left;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    width: calc(100% / 7) ;
    height:60px;
    border:2px solid $dark-gray;
  }
  #calendar{
    margin-bottom:2rem;
    border-bottom: 0;
    border-right: 0;
    @include span-columns(6);
    @include media($mobile){
      @include span-columns(12);
    }
  }
  .moreInfo{
    background-color:lighten($light-gray, 20);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 1rem;
  }
  .exampleCell{
    display: inline-block;
    float:right;
    margin-left:1rem;
    width: 80px;
    height:80px;
    border:2px solid $dark-gray;
    text-align: center;
  }
  #info{
    margin-bottom: 2rem;
    @include span-columns(6);
    @include media($mobile){
      @include span-columns(12);
    }
    .fa-stack{
      float: right;
      font-size: 1rem;
    }
  }
}
 
