body{
  margin: 0;
}

header{
  height: 80px;
  width: 100%;
  position: fixed;
  top:0;
  background-color: $blue;
  padding: 15px;
  z-index: 100;

  nav{
    color:white;
    display: inline-block;
    float:right;
  }

  h3{
    color: white;
    display: inline-block;
  } 
}

.home{
  width:80%;
  margin: auto;
  text-align: center;
  button{text-align: center;}
}

footer{
  height: 50px;
  width: 100%;
  position: fixed;
  bottom:0;
  z-index: 100;
  color: $light-green;
  text-align: center;
  background-color: $dark-gray;
  padding: 15px;
  font-size: 0.8rem;
}

.highlight{
  color: $blue;
}

.content{
  margin-top: 120px;
  margin-bottom:50px;
  @include outer-container;
}
