@mixin calButton($x, $y){
    $button: #cccddd;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), $x $y 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    background-color: $button;
    &:hover{
      background-color:darken($button, 15);
    }
    &:active{
      background-color:darken($button, 30);
      box-shadow: inset 0 0 3px rgba(0, 0 ,0, 0.4);
    }
}
.selector{
  background-color:rgba(0, 150, 150, 0.4);
  position: absolute;
}

.show{
  @include outer-container();
  @include media($mobile){
    margin: 0 2rem;
  }
  .footingText{
    margin-bottom: 2rem;
  }
  .explanation, .footingText {
    @include span-columns(8);
    @include shift(2);
    @include media($mobile){
      @include shift(0);
      @include span-columns(12);
    }
    a{
      font-size:0.8rem;
    }
  }
  #noUser{
    @include span-columns(8);
    @include shift(2);
    @include media($mobile){
      @include shift(1);
      @include span-columns(10);
    }
  }
  #calendar{
    @include span-columns(10);
    @include shift(1);
    position: relative;
    margin-bottom:2rem
  }
  .dayCell{
    @include user-select(none);
    @include calButton(0, -2px);
    padding: 0;
    margin-top: 30px;
    position: relative;
    float: left;
    width: calc(100%/7);
    font-weight: bold;
    height:1.5rem;
    overflow:hidden;
    border:1px solid $dark-gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
  }
  .weekCell{
    @include user-select(none);
    @include calButton(-2px, 0);
    height:82px;
    width:1.5rem;
    left: -1.5rem;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    border:1px solid $dark-gray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    @include transform(translateY(-2px));
    .weekPart{
      height: 33.3%;
      border-bottom: 1px solid $dark-gray;
      &:last-child{border-bottom: none;}
    }
  }
  .allWeekCell{
    @include user-select(none);
    @include transform(translateY(-2px));
    @include calButton(2px, 0);
    height:82px;
    width:1.5rem;
    right: -1.5rem;
    position: absolute;
    border:1px solid $dark-gray;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .calCell{
    @include user-select(none);
    float: left;
    width: calc(100% / 7) ;
    position: relative;
    font-weight: bold;
    height:80px;
    border-right:2px solid $dark-gray;
    border-bottom:2px solid $dark-gray;
    .unavailable{
      background-color: lighten($blue, 30);
    }
  }
  button{
    display: block;
    clear: both;
    margin: 2rem auto;
  }
  h6{
    @include span-columns(8);
    @include shift(2);
    @include media($mobile){
      @include shift(0);
      @include span-columns(12);
    }
  }
  .exampleCell{
    display: inline-block;
    float:right;
    margin-left:1rem;
    width: 100px;
    height:100px;
    font-weight: bold;
    border:2px solid $dark-gray;
    text-align: center;
  }
  .noon{
    border-top:1px solid $dark-gray;
    border-bottom:1px solid $dark-gray;
  }
  .morning, .noon, .night{
    background-color: #dfa;
    height: 33.3%;
  }
}
