@import 'bourbon/bourbon';
@import 'base/base.scss';
@import 'neat/neat';

$blue: #BA5A11;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$mobile: new-breakpoint(max-width 675px);

@import 'layout';
@import 'profile';
@import 'auth';
@import 'tables';
@import 'show';
@import 'edit';
@import 'new';
