<div class="edit">
  <div id="info">
    <h2 class="highlight">
      {{event.name}}
      <a ng-click="moreInfo=!moreInfo" class="fa-stack fa">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-info fa-inverse fa-stack-1x"></i>
      </a>
    </h2>
    <div ng-show="moreInfo" class="moreInfo">
      <div class="exampleCell">
        <div class="morning">Morning</div>
        <div class="noon">Noon</div>
        <div class="night">Night</div>
      </div>
      Green means available and red means someone is unavailable 
      Days are separated by morning, noon and night as shown here. 
      You can view individual calendars by hovering over them.
    </div>
    <div id="available">
    	It looks like these times are good for
    	<span ng-repeat="(key, part) in mergedCal.names">
    	  <span ng-if="!$first && !($last && $index===1)">, </span>
    	  <span ng-if="$last && !$first">and </span>
    	  <a ng-mouseover="showCalendar(part.name)"
    	     ng-mouseleave="revertCalendar()">{{part.name}}</a></span>.
    	<span ng-if=mergedCal.unavailable.length>Unfortunately, 
    	  <span ng-repeat="(key, part) in mergedCal.unavailable">
    	    <span ng-if="!$first && !($last && $index===1)">, </span>
    	    <span ng-if="$last && !$first">and </span>
    	    <a>{{part.name}}</a></span> will not be able to attend.
    	</span>
    	You can email everyone who is available by clicking this <a href="mailto:{{mergedCal.emails}}">link</a>
    </div>
  </div>
	<div id="calendar">
    <div class="calCell" ng-repeat="day in daysToFill">
    </div>
		<div class="calCell" ng-repeat="day in mergedCal.calendar">
		   <div class="morning" ng-class="{'unavailable' : !day.morning}">
		     {{(day.date.substr(8,2) === "01") || $index === 0 ?  day.date.substr(4,6) : day.date.substr(8,3)}}
		   </div>
		   <div class="noon" ng-class="{'unavailable' : !day.noon}"> </div>
		   <div class="night" ng-class="{'unavailable' : !day.night}"> </div>
		</div>
	</div>
</div>
