<div class="edit">
  <div class="info">
    <h2 class="highlight">{{event.name}}</h2>
    It looks like these times are good for
    <span ng-repeat="(key, part) in mergedCal.names">
      <span ng-if="!$first && !($last && $index===1)">, </span>
      <span ng-if="$last && !$first">and </span>
      {{part.name}}</span>.
    <span ng-if=mergedCal.unavailable.length>Unfortunately, 
      <span ng-repeat="(key, part) in mergedCal.unavailable">
        <span ng-if="!$first && !($last && $index===1)">, </span>
        <span ng-if="$last && !$first">and </span>
        {{part.name}}</span> will not be able to attend.
    </span>
    You can email everyone who is available by clicking this <a href="mailto:{{mergedCal.emails}}">link</a>
  </div>
	<div class="editCalendar">
    <div class="calCell" ng-repeat="day in daysToFill">
    </div>
		<div class="calCell" ng-repeat="day in mergedCal.calendar">
		   <div class="morning" ng-class="{'unavailable' : !day.morning}">
		     {{(day.date.substr(8,2) === "01") || $index === 0 ?  day.date.substr(4,6) : day.date.substr(8,3)}}
		   </div>
		   <div class="noon" ng-class="{'unavailable' : !day.noon}"> </div>
		   <div class="night" ng-class="{'unavailable' : !day.night}"> </div>
		</div>
	</div>
</div>
