<div class="show">
  <h2>When can you <span class="highlight">{{event.name}}</span></h2>

  <div ng-show="noUser">
    <label>Enter your name</label>
    <input type="text" ng-model="userName">
    <button ng-click="userName && createCalendar()">Enter</button>
  </div>

  <div class="dayCell" ng-show="!noUser" ng-repeat="day in days" ng-click="toggleDay(day[1])">{{day[0]}}</div>

  <div class="calCell" ng-repeat="day in daysToFill" ng-mousedown="beginSelection($event)">
    <div class="weekCell" ng-if="$index === 0">
      <div class="weekPart" ng-click="toggleWeek('morning', 0)"></div>
      <div class="weekPart" ng-click="toggleWeek('noon', 0)"></div>
      <div class="weekPart" ng-click="toggleWeek('night', 0)"></div>
    </div>
  </div>

  <div class="calCell" ng-repeat="day in calendar.cal" ng-mousedown="beginSelection($event)">
    <div class="weekCell" ng-if="($index + daysToFill.length)%7 === 0">
      <div class="weekPart" ng-click="toggleWeek('morning', $index)"></div>
      <div class="weekPart" ng-click="toggleWeek('noon', $index)"></div>
      <div class="weekPart" ng-click="toggleWeek('night', $index)"></div>
    </div>
    <div class="morning" id="{{$index}}.morning" ng-class="{'unavailable' : !day.morning}" >
      {{(day.date.substr(8,2) === "01") || $index === 0 ?  day.date.substr(4,6) : day.date.substr(8,3)}}
    </div>
    <div class="noon" id="{{$index}}.noon" ng-class="{'unavailable' : !day.noon}"></div>
    <div class="night" id="{{$index}}.night" ng-class="{'unavailable' : !day.night}" ></div>
  </div>
</div>
