<div class="show">
  <h2>When can you <span class="highlight">{{event.name}}</span></h2>

  <div class="dayCell" ng-repeat="day in calendar">
    <div class="date">{{day.date}} </div>
    <div class="calCell">
      <div class="morning" ng-class="{'unavailable' : !day.morning}"
           ng-click="day.morning = !day.morning"></div>
      <div class="noon" ng-class="{'unavailable' : !day.noon}"
           ng-click="day.noon = !day.noon"></div>
      <div class="night" ng-class="{'unavailable' : !day.night}"
           ng-click="day.night = !day.night"></div>
    </div>
  </div>
</div>
